<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.local_syogi">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.local_syogi.di.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.example.local_syogi.presentation.view.GameRateActivity"></activity>
        <activity android:name="com.example.local_syogi.presentation.view.SelectNormalFragment" />
        <activity android:name="com.example.syogibase.View.WinLoseModal" />
        <activity android:name="com.example.syogibase.View.GameActivity" />
        <activity android:name=".presentation.view.SettingActivity" />
        <activity android:name="com.example.local_syogi.presentation.view.MattingActivity" />
        <activity android:name=".presentation.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>